@* @{
  Layout = "_Layout";
} *@

<h1>Welcome to Dr. Sillystringz's Factory Repair Manager</h1>

<h3>@Html.ActionLink("View all Engineers", "Index", "Engineers")</h3>
<h3>@Html.ActionLink("View all Machines", "Index", "Machines")</h3>
